{% extends "base.html" %}

{% load label_list_note %}

{% block nav %}
    <a href="{% url 'users:profile' %}">Back to your notes</a>
{% endblock %}

{% block content %}
    {% if note %}
        <h2>{{ note.note_title }}</h2>
        <p class="note-body">{{ note.note_text }}</p>
        <p>Author: <a href="{% url 'notes:index' %}?user={{ note.author.username }}">{{ note.author.username }}</a></p>
        <p class="small">Created : {{ note.timestamp }}</p>
        <p class="small">Last Updated : {{ note.updated }}</p>
        {% if note.archived %}
            <p>Archived Note</p>
        {% endif %}
        {% label_list_note note.labels.all %}
        {% if user.is_authenticated and user == note.author %}
            <a class="btn btn-default pull-right" href="{% url 'notes:edit' note.id %}">Update</a>
        {% endif %}
    {% else %}
        <p>That note doesn't seem to exist.</p>
    {% endif %}
{% endblock %}
