{% extends "base.html" %}

{% load label_list_note %}
{% load label_list_nav %}
{% load add_class %}
{% load error_messages %}
{% load humanize %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="profile-content">

    <a class="btn btn-success pull-right" href="{% url 'notes:compose' %}">COMPOSE NOTE</a>
    <a class="btn btn-success pull-right" style="margin-right: 10px" href="{% url 'notes:createLabel' %}">CREATE
        LABEL</a>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Your
            notes</a></li>
        <li role="presentation"><a href="#archived" aria-controls="archived" role="tab" data-toggle="tab">Your
            archived notes</a></li>

        <li role="presentation"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">Your
            labels</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div class="row">
                <form method='GET' action='' class="pull-right" style="margin-bottom: 10px">
                    <input type='text' name='q' placeholder='Search from your notes' value='{{ request.GET.q }}'/>
                    <input type='submit' value=&#128270; style="margin-right: 15px;">
                </form>
            </div>
            <div class="note-wrapper">
                {% if notes %}
                    {% for note in notes %}
                        <div class="note-item">
                            <div class="note-controls">
                                <a class="btn btn-success" href="{% url 'notes:detail' note.id %}">View</a>
                                <a class="btn btn-primary" href="{% url 'notes:edit' note.id %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'notes:delete' note.id %}">Delete</a>
                            </div>
                            <div class="note-content">
                                <h3>
                                    <a href="{% url 'notes:detail' note.id %}">{{ note.note_title|truncatechars:255|linebreaks|title|urlize }}</a>
                                </h3>
                                <p class="note-body">{{ note.note_text|truncatechars:255|linebreaks|urlize }}</p>
                                <p class="small">Created : {{ note.timestamp|naturalday }}</p>
                                <p class="small">Last Updated : {{ note.updated|naturalday }}</p>
                                {% label_list_note note.labels.all %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You haven't authored any notes yet!</p>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in " id="archived">
            <div class="note-wrapper">
                {% if notes_archived %}
                    {% for note in notes_archived %}
                        <div class="note-item">
                            <div class="note-controls">
                                <a class="btn btn-success" href="{% url 'notes:detail' note.id %}">View</a>
                                <a class="btn btn-primary" href="{% url 'notes:edit' note.id %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'notes:delete' note.id %}">Delete</a>
                                <a class="btn btn-warning" href="{% url 'notes:unarchive' note.id %}">Unarchive</a>
                            </div>
                            <div class="note-content">
                                <h3>
                                    <a href="{% url 'notes:detail' note.id %}">{{ note.note_title|truncatechars:255|linebreaks|title|urlize }}</a>
                                </h3>
                                <p class="note-body">{{ note.note_text|truncatechars:255|linebreaks|urlize }}</p>
                                <p class="small">Created : {{ note.timestamp|naturalday }}</p>
                                <p class="small">Last Updated : {{ note.updated|naturalday }}</p>
                                {% label_list_note note.labels.all %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You don't have any notes archived yet!</p>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="labels">
            {% if labels %}
                <div class="row">
                {% for label in labels %}
                    <div class="row" style="margin-bottom: 10px">

                        <div class="col-xs-2 col-xs-offset-1 text-center my_label_class btn btn-default"
                             style="color: {{ label.text_color }}; background-color: {{ label.background_color }}"> {{ label.text }}</div>
                        <div class="col-xs-2 col-xs-offset-1 text-center "><a
                                href="{% url 'notes:editLabel' label.id %}" style="color: #325d88;">Edit</a></div>
                        <div class="col-xs-2 col-xs-offset-1 text-center "><a
                                href="{% url 'notes:deleteLabel' label.id %}" style="color: #d9534f">Delete</a></div>
                    </div>

                {% endfor %}
            {% else %}
                <p>No Notes!</p>
            {% endif %}

            </div>
        </div>

    </div>
{% endblock %}
